body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.nav {

}

.numbers {
  display: flex;
  border: 1px solid black;
  padding: 10px;
}

.numbers div {
  font-weight: 600;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  margin: 5px;
}

.powerball {
  background: crimson;
  color: white;
}

.heading-tab {
  border: 1px solid black;
  border-bottom: none;
  width: fit-content;
  padding: 5px;
  margin: 0;
}